a{text-decoration:none;}
.blinking{animation:blinkingText 0.8s infinite;}
@keyframes blinkingText{0%{color:#000;}
49%{color:transparent;}
50%{color:transparent;}
99%{color:transparent;}
100%{color:#000;}
}
.table-m1{width:735px;border-collapse:collapse;border:1px solid rgb(190,190,190);background-color:rgb(245,245,245);}
.td-r1{text-align:center;height:30px;width:85px;background-color:rgb(190,190,190);border:1px solid rgb(0,0,0);font-weight:bold;font-size:130%;font-family:verdana,arial,sans-serif;}
.td-c1{text-align:center;height:30px;width:160px;background-color:rgb(190,190,190);border:1px solid rgb(0,0,0);font-weight:bold;font-size:130%;font-family:verdana,arial,sans-serif;}
.td-o1{text-align:center;height:45px;width:85px;border:1px solid rgb(190,190,190);font-weight:Normal;font-size:130%;font-family:verdana,arial,sans-serif;}
.td-r2{text-align:center;height:30px;background-color:rgb(190,190,190);border:1px solid rgb(0,0,0);font-weight:bold;font-size:130%;font-family:verdana,arial,sans-serif;}
.td-c2{text-align:center;height:30px;background-color:rgb(190,190,190);border:1px solid rgb(0,0,0);font-weight:bold;font-size:130%;font-family:verdana,arial,sans-serif;}
.td-o2{text-align:left;height:40px;border:1px solid rgb(190,190,190);font-weight:Normal;font-size:130%;font-family:verdana,arial,sans-serif;}
.table-gm1{width:735px;border-collapse:collapse;border:1px solid rgb(190,190,190);background-color:rgb(245,245,245);}
.td-gc1{text-align:center;width:170px;}
.td-gc2{text-align:center;width:530px;}
.div-m1{display:inline;;float:left;width:740px;margin:0 0 0 10px;overflow:visible !important;overflow:hidden;}
*{padding:0;margin:0;}
body{font-size:62.5%;background-color:rgb(255,255,255);font-family:verdana,arial,sans-serif;}
.page-container{width:960px;margin:0px auto;margin-top:10px;margin-bottom:10px;font-size:1.0em;}
.main{clear:both;width:954px;padding-bottom:30px;border-left:solid 3px rgb(175,175,175);border-right:solid 3px rgb(175,175,175);background:transparent url(../img/bg_main.gif) top left repeat-y;}
.main-navigation{display:inline;float:left;width:200px;overflow:visible !important;overflow:hidden;background:rgb(245,245,245);}
.main-content{display:inline;;float:left;width:700px;margin:0 0 0 10px;overflow:visible !important;overflow:hidden;}
.main-subcontent{display:inline;float:right;width:185px;margin:0 15px 0 0;overflow:visible !important;overflow:hidden;}
.footer{clear:both;width:954px;padding:1.0em 0 1.0em 0;border-top:solid 3px rgb(175,175,175);border-left:solid 3px rgb(175,175,175);border-right:solid 3px rgb(175,175,175);border-bottom:solid 3px rgb(175,175,175);background:rgb(225,225,225);font-size:1.0em;overflow:visible !important;overflow:hidden;}
.header{width:960px;}
.header-top{width:954px;height:90px;border-top:solid 3px rgb(175,175,175);border-left:solid 3px rgb(175,175,175);border-right:solid 3px rgb(175,175,175);margin-top:10px;c overflow:visible !important;overflow:hidden;}
.header-bottom{width:954px;border-bottom:solid 3px rgb(175,175,175);border-left:solid 3px rgb(175,175,175);border-right:solid 3px rgb(175,175,175);border-top:solid 1px rgb(175,175,175);}
.header-breadcrumbs{clear:both;width:954px;padding:1.0em 0 1.5em 0;border-left:solid 3px rgb(175,175,175);border-right:solid 3px rgb(175,175,175);}
.header .round-border-topleft{width:25px;height:25px;position:absolute;z-index:100;background:url(../img/bg_head_corner_topleft_25px.gif) no-repeat;margin-top:-3px;margin-left:-3px;}
.header .round-border-topright{width:25px;height:25px;position:absolute;z-index:100;background:url(../img/bg_head_corner_topright_25px.gif) no-repeat;margin-top:-3px;margin-left:932px;}
.sitelogo{width:952px;height:85px;position:absolute;z-index:1;margin:2px 0 0 2px;background:url(../img/bg_head_top_logo.jpg);}
.sitename{width:300px;height:45px;position:absolute;z-index:1;margin:23px 0 0 75px;overflow:visible !important;overflow:hidden;}
.sitename h1{font-weight:normal;font-size:240%;}
.sitename h2{margin:-2px 0 0 0;color:rgb(125,125,125);font-weight:normal;font-size:120%;}
.sitename a{text-decoration:none;color:rgb(125,125,125);}
.sitename a:hover{text-decoration:none;color:rgb(125,125,125);}
.nav0{width:350px;position:absolute;z-index:2;margin:25px 0 0 0;margin-left:610px !important;margin-left:613px;}
.nav0 ul{float:right;padding:0 20px 0 0;}
.nav0 li{display:inline;list-style:none;}
.nav0 li a{padding:0 0 0 3px;}
.nav0 a:hover{text-decoration:none;}
.nav0 a img{height:20px;border:none;}
.nav1{width:350px;position:absolute;z-index:3;margin:55px 0 0 610px;}
.nav1 ul{float:right;padding:0 15px 0 0;font-weight:normal;}
.nav1 li{display:inline;list-style:none;}
.nav1 li a{display:block;float:left;padding:2px 5px 2px 5px;color:rgb(125,125,125);text-decoration:none;font-size:110%;}
.nav1 a:hover{text-decoration:none;color:rgb(50,50,50);}
.nav2{white-space:nowrap;float:left;width:954px;background:rgb(225,225,225);color:rgb(100,100,100);font-size:130%;}
.nav2 ul{list-style-type:none;}
.nav2 ul li{float:left;z-index:auto !important;z-index:1000;border-right:solid 1px rgb(175,175,175);}
.nav2 ul li a{float:none !important;float:left;display:block;height:2.1em;line-height:2.1em;padding:0 16px 0 16px;text-decoration:none;font-weight:normal;color:rgb(100,100,100);}
.nav2 ul li ul{display:none;border:none;}
.nav2 ul li:hover{position:relative;}
.nav2 ul li:hover a{background-color:rgb(215,215,215);text-decoration:none;}
.nav2 ul li:hover ul{display:block;width:10.0em;position:absolute;z-index:999;top:2.0em;margin-top:0.1em;left:0;}
.nav2 ul li:hover ul li a{white-space:normal;display:block;width:10.0em;height:auto;line-height:1.3em;margin-left:-1px;padding:4px 16px 4px 16px;border-left:solid 1px rgb(175,175,175);border-bottom:solid 1px rgb(175,175,175);background-color:rgb(240,240,240);font-weight:normal;color:rgb(100,100,100);}
.nav2 ul li:hover ul li a:hover{background-color:rgb(215,215,215);text-decoration:none;}
.nav2 table{position:absolute;top:0;left:-1px;border-collapse:collapse;}
.nav2 ul li a:hover{position:relative;z-index:1000;background-color:rgb(215,215,215);text-decoration:none;}
.nav2 ul li a:hover ul{display:block;width:10.0em;position:absolute;z-index:999;top:2.1em;t\op:2.0em;left:0;marg\in-top:0.1em;}
.nav2 ul li a:hover ul li a{white-space:normal;display:block;w\idth:10.0em;height:1px;line-height:1.3em;padding:4px 16px 4px 16px;border-left:solid 1px rgb(175,175,175);border-bottom:solid 1px rgb(175,175,175);background-color:rgb(240,240,240);font-weight:normal;color:rgb(50,50,50);}
.nav2 ul li a:hover ul li a:hover{background-color:rgb(215,215,215);text-decoration:none;}
.header-breadcrumbs ul{float:left;width:560px;list-style:none;padding:0 0 0 15px;font-family:verdana,arial,sans-serif;}
.header-breadcrumbs ul li{display:inline;padding:0 0 0 10px;background:transparent url(../img/bg_bullet_arrow.gif) no-repeat 0 50%;font-weight:bold;color:rgb(125,125,125);font-size:100%;}
.header-breadcrumbs ul a{color:rgb(70,122,167);text-decoration:none;}
.header-breadcrumbs ul a:hover{color:rgb(42,90,138);text-decoration:underline;}
.header-breadcrumbs .searchform{float:right;width:285px;padding:0 17px 0px 0px !important;padding:0 12px 0px 0px;}
.header-breadcrumbs .searchform form fieldset{float:right;border:none;}
.header-breadcrumbs .searchform input.field{width:10.0em;padding:0.2em 0 0.2em 0;border:1px solid rgb(200,200,200);font-family:verdana,arial,sans-serif;font-size:120%;}
.header-breadcrumbs .searchform input.button{width:3.0em;padding:1px !important;padding:0;background:rgb(230,230,230);border:solid 1px rgb(150,150,150);text-align:center;font-family:verdana,arial,sans-serif;color:rgb(150,150,150);font-size:120%;}
.header-breadcrumbs .searchform input.button:hover{cursor:pointer;border:solid 1px rgb(80,80,80);background:rgb(220,220,220);color:rgb(80,80,80);}
.main-navigation .round-border-topright{width:10px;height:10px;position:absolute;z-index:100;margin:0 0 0 190px;background:url(../img/bg_corner_topright.gif) no-repeat;}
.column1-unit{width:760px;margin-bottom:10px !important;margin-bottom:5px;}
.column2-unit-left{float:left;width:225px;margin-bottom:10px !important;margin-bottom:5px;}
.column2-unit-right{float:right;width:225px;margin-bottom:10px !important;margin-bottom:5px;}
.column3-unit-left{float:left;width:137px;margin-bottom:10px !important;margin-bottom:5px;}
.column3-unit-middle{float:left;width:137px;margin-bottom:10px !important;margin-bottom:5px;margin-left:40px;}
.column3-unit-right{float:right;width:137px;margin-bottom:10px !important;margin-bottom:5px;}
.subcontent-unit-border{width:183px;margin:0 0 2.0em 0;padding:0 0 5px 0;border:solid 1px rgb(190,190,190);background:rgb(235,235,235);}
.subcontent-unit-border-green{width:183px;margin:0 0 2.5em 0;padding:0 0 10px 0;border:solid 1px rgb(160,214,81);background-color:rgb(217,239,185);}
.subcontent-unit-border-blue{width:183px;margin:0 0 2.5em 0;padding:0 0 10px 0;border:solid 1px rgb(137,170,214);background-color:rgb(213,225,240);}
.subcontent-unit-border-orange{width:183px;margin:0 0 2.5em 0px;padding:0 0 10px 0;border:solid 1px rgb(232,177,13);background-color:rgb(248,224,150);}
.subcontent-unit-noborder{width:185px;margin:0 0 2.5em 0;padding:0 0 10px 0;background:rgb(235,235,235);}
.subcontent-unit-noborder-green{width:185px;margin:0 0 2.5em 0;padding:0 0 10px 0;background-color:rgb(217,239,185);}
.subcontent-unit-noborder-blue{width:185px;margin:0 0 2.5em 0;padding:0 0 10px 0;background-color:rgb(213,225,240);}
.subcontent-unit-noborder-orange{width:185px;margin:0 0 2.5em 0;padding:0 0 10px 0;background-color:rgb(248,224,150);}
.round-border-topleft{width:10px;height:10px;position:absolute;z-index:100;background:url(../img/bg_corner_topleft.gif) no-repeat;margin-top:-1px;margin-left:-1px;}
.round-border-topright{width:10px;height:10px;position:absolute;z-index:100;background:url(../img/bg_corner_topright.gif) no-repeat;margin-top:-1px;margin-left:174px;}
.round-noborder-topleft{width:10px;height:10px;position:absolute;z-index:100;background:url(../img/bg_corner_topleft.gif) no-repeat;margin-top:0px;margin-left:0px;}
.round-noborder-topright{width:10px;height:10px;position:absolute;z-index:100;background:url(../img/bg_corner_topright.gif) no-repeat;margin-top:0px;margin-left:175px;}
.footer p{line-height:1.3em;text-align:center;color:rgb(125,125,125);font-weight:bold;font-size:110%;}
.footer p.credits{font-weight:normal;}
.footer a{text-decoration:underline;color:rgb(125,125,125);}
.footer a:hover{text-decoration:none;color:rgb(0,0,0);}
.footer a:visited{color:rgb(0,0,0);}
.page-container:after, .header:after, .header-bottom:after, .header-breadcrumbs:after, .main:after, .main-navigation:after, .main-content:after, .main-content div:after, .main-subcontent:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.column1-unit:after, .column2-unit-left:after, .column2-unit-right:after, .column3-unit-left:after, .column3-unit-middle:after, .column3-unit-right:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.subcontent-unit-border:after, .subcontent-unit-noborder:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.subcontent-unit-border-blue:after, .subcontent-unit-border-green:after, .subcontent-unit-border-orange:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.subcontent-unit-noborder-blue:after, .subcontent-unit-noborder-green:after, .subcontent-unit-noborder-orange:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
p:after{content:".";display:block;height:0;;visibility:hidden;}
.footer:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear-contentunit{clear:both;width:690px;height:0.1em;border:none;background:rgb(210,210,210);color:rgb(210,210,210);}
@media print{.header-top{width:954px;height:80px;background:rgb(240,240,240);overflow:visible !important;overflow:hidden;}}
@media print{.header-breadcrumbs{width:954px;background:transparent;}}
@media print{.nav2{float:left;width:954px;border:none;background:rgb(240,240,240);color:rgb(75,75,75);font-size:1.0em;font-size:130%;}}
@media print{.main{clear:both;width:954px;padding-bottom:30px;background:transparent;}}
@media print{.main-navigation{display:inline;float:left;width:199px;border-right:solid 1px rgb(200,200,200);border-bottom:solid 1px rgb(200,200,200);background-color:rgb(240,240,240);overflow:visible !important;overflow:hidden;}}
@media print{.footer{clear:both;width:954px;height:3.7em;padding:1.1em 0 0;background:rgb(240,240,240);font-size:1.0em;overflow:visible !important;overflow:hidden;}}